In [2]:
import pandas as pd

df = pd.DataFrame({'name': ['김길동','홍사림','이지수','김지희','나진수','이채리'],
                   'age': [20,40,17,40,30,50],                   
                   'point': [60,20,70,70,80,55]}
                  )

df

  name  age  point
0  김길동   20     60
1  홍사림   40     20
2  이지수   17     70
3  김지희   40     70
4  나진수   30     80
5  이채리   50     55

In [5]:
import pandas as pd

df = pd.DataFrame({'name': ['김길동','홍사림','이지수','김지희','나진수','이채리'],
                   'age': [20,40,17,40,30,50],                   
                   'point': [60,20,70,70,80,55]}
                  )

print(df['name'].str.contains('김')) #포함되어 있는가

0     True
1    False
2    False
3     True
4    False
5    False
Name: name, dtype: bool

In [8]:
import pandas as pd

df = pd.DataFrame({'name': ['김길동','홍사림','이지수',1,'나진수','이채리'],
                   'age': [20,40,17,40,30,50],                   
                   'point': [60,20,70,70,80,55]}
                  )


df[df['name'].str.contains('김', na = False)] #r김이 포함되어있는 것 출력, 이상한자료(결측치)는 False

  name  age  point
0  김길동   20     60